body 
{  
    
    background-image: url("https://fondosmil.com/fondo/17021.jpg");
    image-rendering: optimizeSpeed;
}

p
{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.blanco
{
    color: #ff0000;

}
.blanco:focus
{
    color: #ff0000;
}


.color{
    
    justify-content: center;
    align-items: center;
}